<li class="collection-item avatar">
  <img src="<%= video.thumbnail %>" 
       alt="<%= video.title %>" 
       class="circle">
  <span class="title"><%= video.title %></span>
  <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
</li>
